.wrapper{
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.translation-options-area{
    width: var(--global-width);
    background-color:white;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding:1rem;
    border-radius:var(--borderRadius);
    gap: 2rem;
}

.translation-option{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 0.2rem;
}
/* 
.translation-option+
.translation-option{
    align-items: flex-end;
} */

.select-lang{
    /* width: 10rem; */
    padding:0.4rem;
}

.textarea-wrapper{
    width: var(--global-width);
    height:50%;
    border-radius: var(--borderRadius);
    padding: 1rem;
    outline:none;

}

.wrapper-btns{
    display: flex;
    width:var(--global-width);
    gap: 2rem;
}

.wrapper-btn{
    text-align: center;
    background-color:white;
    width: 50%;
    border-radius: var(--borderRadius);
    cursor: pointer;
    padding:1rem;
}

.wrapper-btn:hover{
    background-color:lightgrey;
}
