:root{
    --global-width: 95%;
    --paddingTextarea: 0 1rem 0 1rem;
    --borderRadius : 5px;
    --boxshadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  
  }
  
  body{
    background-color: rgb(238, 238, 238);
    font-size: large;

  }

  #root{
    
    display: flex;
    align-items: center;
    justify-content:center;
  }

  .app{
    
    width: 50rem;   

    
  }
